body {
    text-align: center;
}

.line {
    height: 6px;
    width: 70px;
    background-color: black;
    margin: 8px auto;
}

#apps {
    width: 100%;
    height: 800px;
    background: linear-gradient(#b0e376 0%, #13a10b 100%);
}

#games {
    width: 100%;
    height: 800px;
    background: linear-gradient(#8fb6e3 0%, #0b52a3 100%);
}

#bots {
    width: 100%;
    height: 800px;
    background: linear-gradient(#fce3a9 0%, #bf8a0d 100%);
}

img {
    width: 300px;
    transition: transform .5s;
}

img:hover {
    transform: scale(0.9);
}
